name: bench
run-name: "Benchmarks"

on: [push, workflow_dispatch]

env:
  CARGO_TERM_COLOR: always

jobs:

  ubuntu:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Start RabbitMQ server
        run: ./start_rabbitmq.sh

      - name: run pub native
        run: ./benchmarks/run_native.sh

      - name: run pub criterion
        run: ./benchmarks/run_criterion.sh

      - name: run consume benchmark
        run: ./benchmarks/run_consume_benchmark.sh

  # #! issue with macos:
  # #!  - take long time to setup docker!
  # #!  - bench test take significantly much longer time!
  # macos:
  #   runs-on: macos-11

  #   steps:
  #     - uses: actions/checkout@v3
  #     - uses: docker-practice/actions-setup-docker@master

  #     - name: Start RabbitMQ server
  #       run: ./start_rabbitmq.sh

  #     - name: run native executable
  #       run: ./benchmarks/run_native.sh

      # - name: run bencher
      #   run: ./benchmarks/run_bench.sh

      # - name: run criterion
      #   run: ./benchmarks/run_criterion.sh