name: codecov
run-name: "Test coverage"

# on: [push, workflow_dispatch]

on:
  push:
    branches: ["main"]
  workflow_dispatch:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  # codecov:

  #   runs-on: ubuntu-latest

  #   steps:
  #   - uses: actions/checkout@v3

  #   - name: Start RabbitMQ server
  #     run: ./start_rabbitmq.sh

  #   - name: Cargo test instrumented
  #     run: LLVM_PROFILE_FILE="default_%m.profraw" RUSTFLAGS="-C instrument-coverage -C codegen-units=1" cargo test -p amqprs --all-features --tests

  #   - name: Merge coverage data
  #     run: llvm-profdata-14 merge -sparse amqprs/default_*.profraw -o amqprs.profdata

  #   - name: Generate coverage report
  #     run: |
  #       object_list=$(for file in $(LLVM_PROFILE_FILE="default_%m.profraw" RUSTFLAGS="-C instrument-coverage -C codegen-units=1" cargo test -p amqprs --all-features --tests --no-run --message-format=json | jq -r "select(.profile.test == true) | .filenames[]"); do printf "%s %s " --object $file; done)
  #       llvm-cov-14 report --use-color --ignore-filename-regex='/.cargo/registry' --ignore-filename-regex='rustc/' --ignore-filename-regex='tests/'  --instr-profile=amqprs.profdata ${object_list}

  coverage:
    name: Measure coverage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
      - name: Start RabbitMQ server
        run: ./start_rabbitmq.sh
      - name: Install rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
          default: true
          components: llvm-tools

      - name: Install cargo-llvm-cov
        run: cargo install cargo-llvm-cov

      - name: Measure coverage
        run: cargo llvm-cov --all-features --lcov --output-path ./lcov.info

      - name: Report to codecov.io
        uses: codecov/codecov-action@v3
        with:
          files: ./lcov.info
          fail_ci_if_error: false
